<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/myjavapractice20160514/src/myjavapractice_001/myjavapractice_array.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="myjavapractice_001.myjavapractice_array"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="myjavapractice20160514"/>
</launchConfiguration>
